body {
  font-family: "Roboto", sans-serif;
  /* Default font properties */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
img {
  display: block;
}

a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* Header */
/* region Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
}

.footer .logo {
  margin-bottom: 16px;
}
[href="./index.html"] {
  color: #2e2f42;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}
.nav-list-link {
  color: #2e2f42;
}


.nav-list-link .current {
  color: #404bbf;
}

.nav-address-link {
}

.nav-address-email {
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-address-email:hover,
.nav-address-email:focus {
  color: #404bbf;
}
.nav-address-tel {
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-address-tel:hover,
.nav-address-tel:focus {
  color: #404bbf;
}
.page-header .logo {
  margin-right: 76px;
}

/*------- Hero---------- */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* -----------features-section---------------- */

.features-section {
  background-color: #ffffff;
}
.features-list {
}
.features-item {
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  letter-spacing: 0.02em;
  color: #434455;
}
.team-section {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
}
.team-item {
}
.team-avatar {
}
.team-content {
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-member-position {
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-title {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.container {
}

.portfolio-list {
}
.portfolio-item {
}
.portfolio-picture {
}
.portfolio-text-wrap {
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer.logo {
margin-bottom: 16px;
}
.logo-light {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

header a {
}
