body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-text-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}
.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}