*.
*::before,
*::after {
box-sizing: border-box;
}
img {
  display: block;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text-wrap {
  padding: 32px 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
h1,
h2,
h3 {
  color: #2E2F42;
  font-weight: 700;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #E7E9FC;
}
nav,
header {
  display: flex;
  align-items: center;
  color: #2E2F42;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 76px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
line-height: 1.17;
}

.logo > span {
  color: #2E2F42;
}
nav > ul {
  display: flex;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.nav-link.current {
  color: #404BBF;
}
address {
  font-style: normal;
  margin-left: auto;
}
address ul {
  display: flex;
  gap: 40px;
}
address a {
color: #434455;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0,2, 1);
}
a {
  text-decoration: none;
  transition: color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #404BBF;
}
address a:hover,
address a:focus {
  color: #404BBF;
}
.hero-section {
  background-color: #2E2F42;
  padding: 188px 0;
}
.hero-section h1 {
max-width: 496px;
margin: 0 auto;
text-align: center;
color: #FFFFFF;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
margin-bottom: 48px;
}
.hero-section button {
display:block;
margin: 0 auto;
background-color: #4D5AE5;
color: #FFFFFF;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
padding: 16px 32px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section button:hover,
.hero-section button:focus {
  background-color: #404BBF;
}
.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: #2E2F42;
}
.features-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
