body {
  font-family: "Roboto", sans-serif;
  /* Default font properties */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
}
ul {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}

.img {
  display: block;
}
/* Header */
/* region Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
  margin-right: 76px;
}

.footer .logo {
}
[href="./index.html"] {
  color: #2e2f42;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.nav-list-link {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.nav-address-link {
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-address-link:hover,
.nav-address-link:focus {
  color: #404bbf;
}

/* !!!!!!!!!!!!!!!11.12 !!!!!!!!!!!!!!!!!!!!!*/
.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
/****** container :default *******/
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header > .container {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.page-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}

.nav-address {
  display: flex;
  gap: 40px;
}

/*------- Hero---------- */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* -----------features-section---------------- */
.visually-hidden {
  color: #ffffff;
}
.features-section {
  background-color: #ffffff;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.features-text {
  letter-spacing: 0.02em;
  color: #434455;
}
/* team-section */

.team-title-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section 4 */
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-category {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-light {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
