body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 36px;
  letter-spacing: 0.02em;
}
.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250mc cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px, rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 78px;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-content h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
}
.card-content p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
